
body {
  background-image: url(fondo.jpg);
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 50);
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 100px; 
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 12 12 200px rgba(0, 0, 0, 70);
}

.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(92, 87, 87, 0.6);
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  margin-bottom: 25px;
  text-align: center;
  color: burlywood;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.top-header span {
  font-size: 14px;       
  font-weight: normal;
  color: burlywood;
  text-align: center;
}

.top-header header {
  font-size: 28px;      
  font-weight: bold;
  color: burlywood;
  flex-grow: 1;
  text-align: center;
  margin-left: 10px;
}


.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field span {
  margin-bottom: 15px;
  text-align: left;
}

.input-field input[type="text"],
.input-field input[type="password"] {
  height: 45px;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  background-color: white;
  color: #333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.input-field input.submit {
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border-radius: 25px;
  background-color: #e0d4c1;
  border: none;
  margin-top: 30px;
}

.input-field span {
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 8px; 
  color: bisque; 
}



.bottom {
  display: flex;
  flex-direction: column; 
  align-items:center; 
  width: 100%;
  gap: 10px; 
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none !important;
  outline: none !important;
}


.left, .right {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none !important;
  outline: none !important;
}
